nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0; /* Toujours collé en haut */
    width: 100%;
    background-color: aliceblue;
    z-index: 1000; /* S'assurer que la nav reste au-dessus des autres éléments */
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu li {
    list-style: none;
    background-color: transparent;
    border: none;
    width: 130px;
    text-align: center;
}

#top {
    margin-top: 100px; /* Espace pour éviter que le contenu ne soit caché sous la nav */
}
